{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "import"
  ]
}
